<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <error-page>
    <error-code>405</error-code>
    <location>/servlet1</location>
  </error-page>

  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>FirstServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>SendMail</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>User</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyCode</servlet-name>
    <servlet-class>VerifyCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>WelcomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>  
  
 




  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCode</servlet-name>
    <url-pattern>/VerifyCode</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>

 

  <servlet-config>
    <servlet-timeout>10</servlet-timeout>
  </servlet-config>
 
  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>
  
</web-app>
